@charset "UTF-8";

		/* 헤더 스타일 */
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 60px;
            background-color: white;
            box-shadow: 0 4px 2px -2px gray;
            padding: 0 20px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }
        
        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #FF8C00;
        }
        
        /* 햄버거 메뉴 버튼 */
        .hamburger {
            font-size: 30px;
    		cursor: pointer;
        }

		/* 사이드바 스타일 */
        .sidebar {
		    width: 250px;
		    height: 100vh;
		    position: fixed;
		    top: 0;
		    left: -250px;  /* 화면 밖으로 숨김 */
		    background-color: white;
		    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		    transition: left 0.3s ease-in-out;
		    padding-top: 20px;
		    display: none;  /* 기본적으로 안 보이게 설정 */
		}
        
       /* 사이드바 활성화 시 */
		.sidebar.active {
		    left: 0;
		    display: flex;
		    flex-direction: column;
		}

        .sidebar a {
            display: block;
            padding: 15px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            transition: 0.3s;
            text-align: center;
        }

        .sidebar a:hover {
            background-color: #FF8C00;
            color: white;
        }
        
        .close-btn {
            position: absolute;
		    top: 10px;
		    right: 10px;
		    font-size: 20px;
		    cursor: pointer;
        }